<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mcq-Online test</title>
</head>
<body style="background-color: #0A0A23;color: #ffffff;">
    <form id="mcqForm" method="POST" action="/<%=username%>/apply_License">
        <% for (let i = 0; i < questions.length; i++) { %>
            <div style="font-family: 'Courier New', Courier, monospace;">
            <div class="question" style="width:1200px;border:solid;">
                <h3 ><%= questions[i].question %></h3>
                <p style="font-size:25px">A) <%= questions[i].option1 %></p>
                <p style="font-size:25px">B) <%= questions[i].option2 %></p>
                <p style="font-size:25px">C) <%= questions[i].option3 %></p>
                <p style="font-size:25px">D) <%= questions[i].option4 %></p>
                <br>
                <input type="hidden" name="answers[]" value="<%= correctAnswers[i] %>">
                <label style="font-size: 30px;">
                    Your Answer:
                    <select name="userAnswers[]">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </label>
            </div>
        </div>
            <br>
        <% } %>
        <input type="hidden" name="username" value="<%= username %>">
        <button type="submit" style="font-size: 25px;">Submit</button>
    </form>
</div>
    <% layout("layouts/boilerplate_test.ejs",{questions,correctAnswers,username}) %>  
</body>
</html>
