<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Details</title>
</head>
<body>
    <h1><%=info.Owner %></h1>
    <img src="<%=info.imageUrl %>" alt="car_image" />
    <h1><%=info.CarModel %></h1>
    <h1><%=info.CarPlate %></h1>
    <h1><%=info.Puc_Expiry %></h1>
    <h1><%=info.License_Expiry %></h1>
</body>
</html>